[submodule "Packages/SDL"]
	path = Packages/SDL
	url = https://github.com/flowkey/SDL2-SwiftPackageManager
[submodule "Packages/swift-jni"]
	path = Packages/swift-jni
	url = https://github.com/SwiftAndroid/swift-jni
