[submodule "SDL"]
	path = SDL
	url = git@github.com:flowkey/SDL2-SwiftPackageManager.git
[submodule "swift-jni"]
	path = swift-jni
	url = git@github.com:SwiftAndroid/swift-jni.git
[submodule "swift-android-toolchain"]
    path = swift-android-toolchain
    url = git@github.com:flowkey/swift-android-toolchain.git
